<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
 <meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Student Management System</title>

    <script src="
https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
  
    <script src="
https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
    </script>
  
    <script src="
https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    
    
<link rel="stylesheet" th:href="@{/css/main.css}">

 <script src="http://code.jquery.com/jquery-1.10.2.js"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
	integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
	crossorigin="anonymous" />

<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/duotone.css"
	integrity="sha384-R3QzTxyukP03CMqKFe0ssp5wUvBPEyy9ZspCB+Y01fEjhMwcXixTyeot+S40+AjZ"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css"
	integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l"
	crossorigin="anonymous" />
</head>

<body style="background-color: #f6f6f6">

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  
  <img th:src="@{/images/logo1.png}" width="4%">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" style="margin-left:95%">
      <li class="nav-item dropdown" >
        <a class="nav-link dropdown-toggle"  style="color:white; " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          
          <img th:src="@{/images/170593H.png}" width="60%">
          	
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" th:href="@{/home/profile}" th:utext="${username}"></a>
          <a class="dropdown-item" th:href="@{/logout-success}">Logout</a>
          
        </div>
      </li>
    </ul>
  </div>
</nav>




	<div class="sidebar">
		<a   th:href="@{/}" id="home"> <i class="fas fa-th"
			style="padding-right: 5px; padding-left: 3px"></i> <span
			class="links_name" style="marhin-top:5%">Home</span>
		</a> <a th:href="@{/addStudent}"> <i class="fas fa-user"
			style="padding-right: 5px; padding-left: 3px"></i> <span
			class="links_name">Add student</span>
		</a> <a th:href="@{/newBook}"> <i class="fas fa-book"
			style="padding-right: 5px; padding-left: 3px"></i> <span
			class="links_name">New book</span>
		</a> <a href="#contact"> <i class="fas fa-phone"
			style="padding-right: 5px; padding-left: 3px"></i> <span
			class="links_name">Contact</span>
		</a> <a href="#about"> <i class="fas fa-info-circle"
			style="padding-right: 5px; padding-left: 3px"></i> <span
			class="links_name">Info</span>

		</a>
	</div>


	<div class="card" name="card">
		<p class="text-left pt-2 ml-3 mt-2">Add New Book</p>
		<hr style="margin-top: 1px">
		<div class="card-body ">





			<!-- redirect url represented as @{/students} -->
			<form th:action="@{/addBook}" th:object="${book}" method="POST"
				class="form ml-8 mr-8 pb-3">

				<div class="row ">
					<div class="column " style="width: 50%">
						<div class="form-group  pr-4">
							<!-- for binding data to model attribute use *{firstName} syntax -->
							<label> Book Name</label>
							<!-- Use th:field to bind firstName to firstName attribute of Student object -->
							<input type="text" name="bookName" th:field="*{bookName}"
								class=" form-control" id="formControl"
								placeholder="Enter Book Name">

						</div>
					</div>
					<div class="column " style="width: 50%">
						<div class="form-group">
							<label for="author">Author</label> <input type="text"
								name="author" th:field="*{author}"
								class="form-control col-xs-4 " id="formControl"
								placeholder="Enter book author's name">

						</div>
					</div>
				</div>

				<div class="row">
					<div class="column pr-4" style="width: 50%">
						<div class="form-group">
							<label> ISBN</label> <input type="text" name="isbn"
								th:field="*{isbn}" class="form-control  " id="formControl"
								placeholder="Enter isbn">
						</div>
					</div>
					<div class="column" style="width: 30%">
						<div class="form-group">
							<p style="white-space: nowrap">Is softcopy available?</p>


							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox"
									id="inlineCheckbox1" value="Yes" th:field="*{softCopy}">
								<label class="form-check-label" for="inlineCheckbox1">Yes</label>
							</div>
							<div class="form-check form-check-inline">
								<input class="form-check-input" type="checkbox"
									id="inlineCheckbox2" value="No" th:field="*{softCopy}">
								<label class="form-check-label" for="inlineCheckbox2">No</label>
							</div>

						</div>
					</div>
				</div>

				<div class="row">
					<div class="column pr-4" style="width: 50%">
						<div class="form-group">
							<label>Available Latest Editions</label> <input type="text"
								name="edition" th:field="*{edition}" id="formControl"
								class="form-control col-xs-4 " placeholder="Enter book edition">
						</div>
					</div>
				</div>


				<div class="row">
					<div class="box-footer">
						<button type="submit" class="btn btn-info mt-5 pr-4 pl-4 mr-4"
							id="submit">Submit</button>

					</div>

					<!--<div class="box-footer">
						<input type="reset" value="Reset"
							class="btn btn-info mt-5 pr-4 pl-4" id="clear" />

					</div>-->
				</div>
			</form>
		</div>
	</div>
<script>
	

$(document).ready(function () {
	  
    $('.sidebar > a')
            .click(function (e) {
        $('#home')
            .removeClass('active');
        $(this).addClass('active');
        
    });

});

	
</script>
</body>
</html>